// Pour la mise en page de l'application, on utilise :
//  => "flex" en mode horizontal
//  => on force la hauteur de tout en "height: 100%"

// Cela pose un problème quand le contenu dépasse la hauteur de la fenêtre, qu'on corrige en gérant le
//  "overflow" du main (cf. sélecteur ci-deesous)

#app-conteneur {
    display: flex;

    main {
        // On donne un poids de "1" (comme il y a pas d'autre élément avec un poids et que la navigation a une "width', il prend toute la place restante)
        flex-grow: 1;

        // Avec un overflow "auto", un scroll est affiché si le contenu de l'élément dépasse sa taille
        //  => Comme tous les parents sont en "height: 100%", ils ne peuvent pas dépasser de la fenêtre et donc pas avoir de scroll
        //  => En mettant un overflow "auto" ici, la scroll ne peut être qu'ici
        // On a donc pas la navigation qui bouge
        overflow-y: auto;

        // On positionne un padding ici pour garder une marge autour des différentes pages
        padding: 1rem;
    }
}
